*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.navbar{
background-color: rgba(9, 10, 10, 0.64);
border-bottom: solid 2px black;
}
.nav li{
  color: black !important;
}
.nav a{
  color: white !important;
}
.nav li:hover{
background-color: rgba(204, 210, 217, 0.75);
}

.jumbotron{
background-color: rgba(9, 10, 10, 0.64);
}

.home{
  width: 100%;
  margin-top: 15em;
  padding: 2em;
}
.marco{
  border: solid 2px black;
  height: 20em;
  width: 20em;
  padding-top: 5em;
  margin-left: 35%;
  background-color: rgba(187, 187, 186, 0.54);
}
.marco h1{
  color: white;
}
.marco h2{
  color: white;
}


.panel{
  background-color: rgba(202, 201, 210, 0.59) !important;
}
.panel-heading{
  background-color: rgba(9, 10, 10, 0.64) !important;
}

.btn-primary{
  background-color: rgba(37, 37, 40, 0.54) !important;
}
